login_url = https://asiaauth.mayohr.com/HRM/Account/Login?original_target=https%3A%2F%2Fapollo.mayohr.com%2Ftube&lang=zh-tw
checkinrecord_url = https://apollo.mayohr.com/ta/personal/checkin/checkinrecords/workrecords

company_code = YOUR_COMPANY_CODE
employee_number = YOUR_EMPLOYEE_NUMBER
password = YOUR_PASSWORD
check_checkin_time = 10:00
check_checkout_time = 19:00
check_interval = 60
taiwan_calendar_api = https://cdn.jsdelivr.net/gh/ruyut/TaiwanCalendar/data/{year}.json

# Telegram Bot
TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN
TELEGRAM_CHAT_ID=YOUR_CHAT_ID
